In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns

In [ ]:
df = sns.load_dataset('diamonds')
df

In [ ]:
df.groupby('cut').mean()

In [ ]:
df.groupby('cut').median()

In [ ]:
df.groupby('cut')['carat'].min()

In [ ]:
for i in range(4):
    print(i)

In [ ]:
for key_group, group in df.groupby('cut'):
    grouped_price = group['price'].mean()
    print(f'Cut: {key_group}, Price: {grouped_price}\n')

In [ ]:
df.groupby(['cut', 'color'])['price'].mean().to_frame()

In [19]:
df.groupby(['cut', 'color'])['price'].aggregate(['min', np.mean, max])

                 min         mean    max
cut       color
Ideal     D      367  2629.094566  18693
          E      326  2597.550090  18729
          F      408  3374.939362  18780
          G      361  3720.706388  18806
          H      357  3889.334831  18760
          I      348  4451.970377  18779
          J      340  4918.186384  18508
Premium   D      367  3631.292576  18575
          E      326  3538.914420  18477
          F      342  4324.890176  18791
          G      382  4500.742134  18741
          H      368  5216.706780  18795
          I      334  5946.180672  18823
          J      363  6294.591584  18710
Very Good D      357  3470.467284  18542
          E      352  3214.652083  18731
          F      357  3778.820240  18777
          G      354  3872.753806  18818
          H      337  4535.390351  18803
          I      336  5255.879568  18500
          J      336  5103.513274  18430
Good      D      361  3405.382175  18468
          E      327  3423.644159  18236
          F      357  3495.750275  18686
          G      394  4123.482204  18788
          H      368  4276.254986  18640
          I      351  5078.532567  18707
          J      335  4574.172638  18325
Fair      D      536  4291.061350  16386
          E      337  3682.312500  15584
          F      496  3827.003205  17995
          G      369  4239.254777  18574
          H      659  5135.683168  18565
          I      735  4685.445714  18242
          J      416  4975.655462  18531

In [ ]:
def mean_kg(x):
    return np.mean(x) / 1000

In [18]:
df.groupby(['cut', 'color'])['price'].aggregate(['min', np.mean, max, mean_kg]).head(10)

               min         mean    max   mean_kg
cut     color
Ideal   D      367  2629.094566  18693  2.629095
        E      326  2597.550090  18729  2.597550
        F      408  3374.939362  18780  3.374939
        G      361  3720.706388  18806  3.720706
        H      357  3889.334831  18760  3.889335
        I      348  4451.970377  18779  4.451970
        J      340  4918.186384  18508  4.918186
Premium D      367  3631.292576  18575  3.631293
        E      326  3538.914420  18477  3.538914
        F      342  4324.890176  18791  4.324890

In [20]:
dict_agg = {'carat': [min, max], 'price': [np.mean, mean_kg]}
dict_agg

{'carat': [<function min>, <function max>],
 'price': [<function numpy.mean(a, axis=None, dtype=None, out=None, keepdims=<no value>, *, where=<no value>)>,
  <function __main__.mean_kg(x)>]}

In [21]:
df.groupby(['cut', 'color']).aggregate(dict_agg)

                carat              price
                  min   max         mean   mean_kg
cut       color
Ideal     D      0.20  2.75  2629.094566  2.629095
          E      0.20  2.28  2597.550090  2.597550
          F      0.23  2.45  3374.939362  3.374939
          G      0.23  2.54  3720.706388  3.720706
          H      0.23  3.50  3889.334831  3.889335
          I      0.23  3.22  4451.970377  4.451970
          J      0.23  3.01  4918.186384  4.918186
Premium   D      0.20  2.57  3631.292576  3.631293
          E      0.20  3.05  3538.914420  3.538914
          F      0.20  3.01  4324.890176  4.324890
          G      0.23  3.01  4500.742134  4.500742
          H      0.23  3.24  5216.706780  5.216707
          I      0.23  4.01  5946.180672  5.946181
          J      0.30  4.01  6294.591584  6.294592
Very Good D      0.23  2.58  3470.467284  3.470467
          E      0.20  2.51  3214.652083  3.214652
          F      0.23  2.48  3778.820240  3.778820
          G      0.23  2.52  3872.753806  3.872754
          H      0.23  3.00  4535.390351  4.535390
          I      0.24  4.00  5255.879568  5.255880
          J      0.24  2.74  5103.513274  5.103513
Good      D      0.23  2.04  3405.382175  3.405382
          E      0.23  3.00  3423.644159  3.423644
          F      0.23  2.67  3495.750275  3.495750
          G      0.23  2.80  4123.482204  4.123482
          H      0.25  3.01  4276.254986  4.276255
          I      0.30  3.01  5078.532567  5.078533
          J      0.28  3.00  4574.172638  4.574173
Fair      D      0.25  3.40  4291.061350  4.291061
          E      0.22  2.04  3682.312500  3.682313
          F      0.25  2.58  3827.003205  3.827003
          G      0.23  2.60  4239.254777  4.239255
          H      0.33  4.13  5135.683168  5.135683
          I      0.41  3.02  4685.445714  4.685446
          J      0.30  5.01  4975.655462  4.975655

In [22]:
def filter_by_meam_major_to_4(x):
    return mean_kg(x['price']) > 4

In [23]:
df.groupby('cut').filter(filter_by_meam_major_to_4)

       carat      cut color clarity  depth  table  price     x     y     z
1       0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3       0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
8       0.22     Fair     E     VS2   65.1   61.0    337  3.87  3.78  2.49
12      0.22  Premium     F     SI1   60.4   61.0    342  3.88  3.84  2.33
14      0.20  Premium     E     SI2   60.2   62.0    345  3.79  3.75  2.27
...      ...      ...   ...     ...    ...    ...    ...   ...   ...   ...
53928   0.79  Premium     E     SI2   61.4   58.0   2756  6.03  5.96  3.68
53930   0.71  Premium     E     SI1   60.5   55.0   2756  5.79  5.74  3.49
53931   0.71  Premium     F     SI1   59.8   62.0   2756  5.74  5.73  3.43
53934   0.72  Premium     D     SI1   62.7   59.0   2757  5.69  5.73  3.58
53938   0.86  Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74

[15401 rows x 10 columns]

In [25]:
df.groupby('cut').filter(filter_by_meam_major_to_4)['cut'].unique()

['Premium', 'Fair']
Categories (5, object): ['Ideal', 'Premium', 'Very Good', 'Good', 'Fair']